*  {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
}


.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80vw;
    background-color: rgb(221, 241, 212);
}

button{
    margin-top: 5vw;
    padding: 1vw;
    background-color: rgb(73, 122, 255);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 0.5px solid rgb(47, 47, 47);
}

button:hover{
    background-color: rgb(40, 69, 149);
}

h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(73, 122, 255);
}

.door_container{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   /* background-color: rgb(229, 153, 153);*/
    color:rgb(73, 122, 255);
    width: 75%;
    height: 400px;
}

.door{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(4, 16, 51);
    background-color:rgb(73, 122, 255);
    height: 215px;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 48px;
    color:rgba(205, 186, 63, 0.977);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#no1{
    display:flex;
    order: -1;
}

#no2{
    display:flex;
    order: 1;
}

#no3{
    display:flex;
    order: 3;
}

.door:hover{
    background-color:rgb(139, 0, 0);
    background-color:blueviolet;
    box-shadow: 0 4px 8px 0 rgba(255, 235, 84, 0.836), 0 6px 20px 0 rgba(255, 235, 84, 0.836);
}

button{
    border-radius: 8px;
}

.switch{
    display: none;
    background-color: brown;
    order: 1;
    margin-right: 2vw;
}

.switch:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(88, 24, 24);
}

.finish{
    display: none;
    background-color: rgb(57, 182, 43);
    order: 12;
}

.finish:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(29, 95, 21);
}

.btn-pnl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.results{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color:rgb(244, 162, 239);
    width: 75%;
    height: 400px;
    font-size: 48px;
    font-weight:bolder;
    border-radius: 12px;
}

.heading_A{
    display: none;
}

h3{
    display: none;
}

#choice{
    display: none;
}

#monty{
    display: none;
}

.restart{
    display: none;
    background-color:rgb(65, 43, 238);
    
}

.restart:hover{
    background-color:rgb(26, 18, 86);
}
